.task-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-button:hover {
    background-color: #0056b3;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

