.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding: 20px;
}


.task-list {
    text-align: center;
    font-size: 24px;
    color: #198754;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.task {
    background-color: #c9e6c9; /* Medium Green */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
